# Composer
/vendor/
/cache/
composer.lock

# IDEs & OS
/.idea/
/.vscode/
*.log
.DS_Store
Thumbs.db

# PHPUnit / Coverage
.phpunit.cache
/phpunit.xml
/build/
coverage/
.cache/

# Runtime
/storage/views/*
/examples/storage/*
!/storage/views/.gitkeep

# Twig Cache
/storage/framework/twig/*
!/storage/framework/twig/.gitkeep

# Temporary
/tmp/
*.tmp
